.list-tile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin-top: 5%;
    max-width: 675px;
}
.titles{
    display: flex;
    flex-direction: column;
    
}

.heading{
    font-size: 24px;
    
    font-weight: bold;
    font-family:'TropilineBold';
}
.subheading{
    font-size: 13px;
    color: grey;
    font-weight: 500;
   
}
.tail{

}