.cover{
    position: fixed;
    background-color: #000000;
    height: 100%;
    top:0;
    left:0;
    width: 100%;
    opacity: 70%;
    z-index: 1;
}
.popup{
    position: fixed;
    bottom:50%;
    left: 50%;
    transition: all .8s ease-in-out;
    transform: translate(-50%, 50%);
    background-color: #FFFFFF;
    vertical-align: middle;
    width: 512px;
    opacity: 100%;
    z-index: 2;
    border-radius: 8px;
}
.close-popup{
    display: flex;
    flex-direction:row;
    justify-content: end;
    padding: 10px 12px 0px 5px;
}
.close-popup:hover{
    cursor: pointer;
}
@media screen and (max-width:600px) {
    .popup{
        position: fixed;
       
        bottom:0;
        left: 50%;
        transition: all .8s ease-in-out;
        transform: translate(-50%, 0);
        
        background-color: #FFFFFF;
        vertical-align: middle;
        width: 104vw;
        opacity: 100%;
        z-index: 2;
        border-radius: 8px;
    }
}