body{
    background-color: grey;
}
.second-root{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.noti-text{
    color: white;
    margin-top:100px;
    font-weight: 700;
    font-size: 24px;
}
.image-container{
    margin-top: 10%;
    background-image: url(https://assets.zestmoney.in/assets/customers/bolt/selfie_frame.svg);
    overflow: hidden;
    padding: 8px 10px 10px 12px;
    width: 216px;
    height: 212px;
    background-repeat: no-repeat;

}
.confirm-selfie{
    background-color: #1FBA68;
    color: white;
    width: 90vw;
    max-width: 464px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-top:100px;
    font-weight: 600;
}
.retake-selfie{
    background-color: #FFFFFF;
    color: #1FBA68;
    width: 90vw;
    max-width: 464px;
    height: 56px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-top: 16px;
    margin-bottom: 58px;

}
.confirm-selfie:hover{
    cursor: pointer;
}
.retake-selfie:hover{
    cursor: pointer;
}
.popup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-heading{
    font-weight: 600;

}
.popup-subheading{
    text-align: center;
    color:#4A4A4A;
    width:320px;
    margin-top:6px;
}
.popup-button{
   
    background-color: #1FBA68;
    color: #FFFFFF;
    padding: 16px;
    border-radius: 100px;
    width: 36vw;
    text-align: center;
    margin: 28px 0px;
    font-size: 16px;
    font-weight: 600;

}
.popup-button:hover{
    cursor: pointer;
}
.popup-icon{
    margin-top: 30px;
    margin-bottom: 18px;
}
.popup-heading-second{
    font-weight: 600;
width: 290px;
margin-left: -170px;
}
.popup-subheading-second{
    text-align: center;
    color: #4A4A4A;
    width: 320px;
    margin-top: 6px;
    margin-left: -230px;
    font-size: 14px;
}
.popup-list-second{

}
.popup-list-second-text{
    width: 455px;
    font-size: 14px;
    margin-top: 65px;
    margin-bottom: 10px;
}
.popup-list-second-image{
    margin-bottom:2%;
}